body {
    overflow: hidden;
}

.scrollbar::-webkit-scrollbar {
    width: 10px;
    @apply bg-gray-750;
}
.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    @apply bg-lime-600;
}
.scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
    @apply bg-gray-750;
}
